/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*, *::before, *::after {
    box-sizing: border-box;
  }
  * {
    margin: 0;
  }
  html, body {
    height: 100%;
  }
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  input, button, textarea, select {
    font: inherit;
  }
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  #root, #__next {
    isolation: isolate;
  }

/* general formatting */
* {
    font-family: Sylfaen, 'Arial Narrow Bold', sans-serif;
    border-radius: 16px;
    /* border: 1px solid red; */
}

html {
    scroll-behavior: smooth;
  }

a {
    color: black;
    text-decoration: none;
}

ul {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
}

li {
    padding: 0;
    margin: 0;
}

button {
    background-color: white;
    color: black;
    border-radius: 8px;
    padding: 8px 16px;    
    font-size: 16px;
}

.section-title {
    font-size: 40px;
    color: #999d7a;
    font-weight: 500;
    padding-top: 24px;
    padding-bottom: 16px;
    text-align: center;
}

/* Section Formatting */

/* Body */
body {
    background-image: url(./images/IMG_3613.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
    font-size: 20px;
    border-radius: 0%;
    padding: 0px;
    margin: 0px;
}

.whitebackground {
    background-color: rgba(245, 245, 245);
    margin: 36px;
    padding: 0;
    position: center;
    size: auto;
}

/* Header */
.header {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.logo {
    height: auto;
    width: 200px;
    padding: 16px;
}

.header-menu {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.header-links {
    padding: 8px;
    margin:  16px;
}

/* Hero */
.container-hero {
    display: flex;
    align-items: center;
    justify-content: center;        
}

.hero-img {
width:85vw;
height: auto;
overflow: hidden;
}

.hero {
    padding: 0%;
    margin: 0%;
}

/* Services */
#services {
    text-align: center;   
    margin: 24px;
}
.services {
    margin: 16px;
    width: 15vw;
    height: auto;
}

.services-blocks {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    color: black;
}





.feature-image {
    padding: 0px;
}

/* Projects */

.project {
    width: 80vw;
    height: auto;
}

.project-block {
    padding: 16px;
}

/* Bio */
.bio {
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: space-around;    
    margin: 16px
}

.bio-text {
    font-size: 18px;
    font-style: italic;
    max-width: 700px;
    padding: 16px;
    margin: 16px;
    color: black;
}

.profile {
    height: auto;
    width: 300px;
    border-radius: 50%;
    padding: 0px;
   margin: 16px;
}

.about {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: 24px;
    color: darkslategray;
    padding: 16px;
}

/* Action */
.action {
    display: flex;
    align-items:center;
    justify-content: center;
}

.action-content-box {
    color: black;
    margin: 24px;
    padding: 24px 50px;
}

input {
    border-radius: 8px;
}

/* Footer */
.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px;
    font-size: 12px;
}

.top-link {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	font-size: 1.25rem;
	position: fixed;
	bottom: 3rem;
	right: 3rem;
	background: rgb(62, 62, 62, .25);
	width: 3rem;
	height: 3rem;
	display: grid;
	place-items: center;
	border-radius: 8px;
	color: white;
	visibility: hidden; 
    z-index: -100;
  }

  .show-link {
	visibility: visible;
	z-index: 100; 
  }


  /* Portfolio pages */

  

  .section-format {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .phase-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .portfolio-img {
    width: 60vw;
    padding: 16px;
  }

.phase-title {
    font-size: 24px;
}

.chapter-title {
    font-size: 30px;
}

.content {
    width: 50vw;
}

.map {
    width: 50vw;
    height:auto;
}

.research-block {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50vw
}